<div class="container">

    <div class="card mb-3">
        <div class="card-body">
             <h5 class="card-title">{{name}}</h5>
             <p class="card-text">Adres:</br>{{address.street}}</br>{{address.zipCode}}, {{address.city}}</p>
             <p class="card-text">{{nip}}</p>
             <a href="/customer/edit/{{_id}}" class="btn btn-primary">Edytuj</a>
             <a href="/customer/delete/{{_id}}" class="btn btn-danger">Usuń</a>
        </div>   
    </div>
    
</div>
