<div class="container">
    
    <h2>Dodaj Wydarzenie</h2>
    <form action="/event" method="POST">

        <div class="mb-3">
            <label class="form-label" for="contactDate"><strong>Data kontaktu</strong></label>
            <input type="date" class="form-control" id="contactDate" name="contactDate">
        </div>

        <div class="mb-3">
          <label for="type"><strong>Typ</strong></label>
          <select id="type" name="type" class="form-select" aria-label="Default select example">
            <option value="">Choose...</option>
            <option value="phone">Telefon</option>
            <option value="email">E-mail</option>
            <option value="meeting">Spotkanie</option>
          </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description"><strong>Opis</strong></label>
            <input type="text" placeholder="Opis" class="form-control" id="dexcription" name="description">
        </div>

        <div class="mb-3">
            <label class="form-label" for="name"><strong>Nazwa klienta</strong></label>
            <input type="text" placeholder="Nazwa klienta" class="form-control" id=name name="name">
        </div>
        
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>

</div>


<br>
<br>
<br>


<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Data kontaktu</th>
        <th scope="col">Typ</th>
        <th scope="col">Opis</th>
        <th scope="col">Nazwa klienta</th>
        <th scope="col">Akcja</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
      <tr>
        <td>{{contactDate}}</td>
        <td>{{type}}</td>
        <td>{{description}}</td>
        <td>{{name}}</td>
        <td><a href="/event/edit/{{_id}}" class="btn btn-warning">Edytuj</a>
        <a href="/event/delete/{{_id}}" class="btn btn-danger">Usuń</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>

